@model IEnumerable<Medical.ViewModel.AArticleViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            @*修改*@
            <h1 style="font-family: 微軟正黑體; font-weight: bold; color: darkorange;">衛教文章(後臺系統)</h1>
        </div>
        @*修改*@
    </div>
</div>

<div class="card">

    @using (Html.BeginForm())
    {
        //修改
        <div style="text-align: center;padding-top:20px">
            <label class="" style="font-size: 25px; font-family: 微軟正黑體; font-weight: bold; color: darkorange;">關鍵字 : </label>
            @Html.TextBox("txtKeyword", "", new { @class = "font-weight-bold", style = "font-size:26px;border-radius:15px;", @placeholder = "search..." })
            <button type="submit" class="btn bg-gradient-warning btn-lg">
                <i class="fa fa-search">
                    查詢
                </i>
            </button>
        </div>

    }

    @*修改*@
    <p style="padding: 20px 30px 0 0; text-align: right;">
        @Html.ActionLink("新增衛教內容", "Create", "ArticleAdmin", "",
                               new { @class = "btn btn-outline-success", @style = "font-size:18px;border-radius:5px; font-weight: bold " })
    </p>

    @{
        int count = 0;
        <div class="card">
            <div class="card-header">
                @*修改*@
                <h3 class="card-title" style="font-size: 25px; font-family: 微軟正黑體; font-weight: bold; color: darkorange;">衛教表單細節</h3>
            </div>

            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">序</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">發佈日期</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">醫生</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">疾病</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">文章內容</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">圖片</th>
                                        @*修改*@
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1 font-weight-bold" tabindex="0" style="width:5%">@count</td>
                                            <td style="width:5%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                            <td style="width:5%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.Doctor.DoctorName)</td>
                                            <td style="width:10%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.Articeltitle)</td>
                                            <td style="width:50%" class="font-weight-bold">
                                                @item.ArticleContent.Substring(0, Math.Min(item.ArticleContent.Length, 100)).Replace("<h2>", "").Replace("</h2>", "").Replace("<br>", "").Replace("<p>", "").Replace("<strong>", "").Replace("</strong>", "").Replace("<h4>", "").Replace("</h4>", "").Replace("<br/>", "").Replace("</p>", "")........
                                            </td>
                                            <td class="font-weight-bold"><img src="~/uploads/@item.ArPicturePath" style="width:100px;height:100px"></td>
                                            @*修改*@
                                            <td style="width: 10%;">
                                                <div class="fas fa-pencil-alt" style="color: dodgerblue; margin-block: 3px">
                                                    @Html.ActionLink("修改", "Edit", "ArticleAdmin", new { id = item.ArticleId }, new { @class = "btn bg-gradient-primary btn-sm" })
                                                </div>
                                                <br />
                                                <div class="fas fa-trash" style="color: orangered; margin-top: 3px">
                                                    @Html.ActionLink("刪除", "Delete", "ArticleAdmin", new { id = item.ArticleId },
    new { onclick = "return confirm('確定要刪除此筆資料嗎??')", @class = "btn btn-danger btn-sm", @style = "margin-left:1px" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
}