@using Medical.ViewModel;
@model CReviewForEditViewModel

@{
    ViewData["Title"] = "DeleteReviews";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .fa-star {
            color: goldenrod;
            font-size:xx-large;
        }
    </style>
}

<div class="container-fluid" style="margin: auto; ">

    <div style="width: 1000px; height: 980px; background-color: rgb(234, 232, 232); margin: auto; margin-top: 20px; margin-bottom: 50px; border-radius: 15px; padding-top: 20px; ">

        <div style=" display: flex; width: 95%; margin: auto;height: 6%;">
            <a href="~/Admin/AdminProduct/productManage" class="btn btn-dark" style="width: 25%; height: 100%; border-radius: 0%; margin-right: 1px; font-size: 26px ">產品</a>
            <a href="~/Admin/AdminProduct/QueryAllOrders" class="btn btn-dark" style="width: 25%; height: 100%; border-radius: 0%; margin-right: 1px; font-size: 26px ">訂單</a>
            <a href="~/Admin/AdminProduct/DeleteReviews" class="btn btn-primary" style="width: 25%; height: 100%; border-radius: 0%; margin-right: 1px; font-size: 26px ">評價</a>
            <a href="~/Admin/AdminProduct/CouponList" class="btn btn-dark" style=" width: 25%; height: 100%; border-radius: 0%; font-size: 26px">優惠券</a>
        </div>

        <div class="row mt-3" style="height: 88%; width: 95%;margin: auto;">

            <!-- ==============left Start==================== -->
            <div class="col col-md-4 h-100" style="padding-left: 5px;padding-right: 5px;background-color: white; max-height: 100%;">


                <div class="row mt-1" style=" width:100%;margin:auto;">
                    <div class="input-group rounded" style="padding: 0;">
                        <input id="mySearch" type="search" class="form-control rounded" placeholder="搜尋.." aria-label="Search" aria-describedby="search-addon" style="margin-left: 0;" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
                <div class="mt-2" style="height: 90%;max-height: 90%; overflow-y:hidden ;">
                    <div style="width: 100%;height: 100%; margin: auto; overflow-y: auto;">
                        <table class="table table-striped table-hover mt-2">
                            @*<tr><td><input type="checkbox" style=" transform: scale(1.4);" value=""><span style="margin-left: 10px;">1234</span></td></tr>*@
                            @{int i = 0;
                                foreach (var item in Model.reviewList.OrderBy(r => r.Product.ProductName).ThenBy(r=>r.RatingType.RatingTypeName))
                                {
                                    i++;
                                    <tr class="myTrTohide"><td style="margin-right:0px;color:gray;width:1em;">@i</td><td onclick="Selected(event)"><input class="myCheckbox" type="checkbox" name="checkedB" style=" transform: scale(1.4);margin-right:1em;" value="@item.ReviewId"><span style="margin-left: 0px;">@item.Product.ProductName (@item.RatingType.RatingTypeName 顆星)</span></td></tr>

                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
            <!-- ==============left End==================== -->
            <!-- ==============right Start==================== -->
            <div class="col col-m4-8" style="padding-left: 10px;padding-right: 0%;">
                <div style="height: 100%;width: 100%;margin: 0%;">
                    <div style="width: 100%;height: 26em;">
                        <div style="background-color: white;height: 100%; margin-top: 0;">
                            <p style="background-color: rgb(51, 51, 51); color: rgb(255, 255, 255);line-height: 40px;padding-left: 15px;margin-bottom: 0%;">產品查詢/修改</p>
                            <div style="height: 89%;">
                                <div class="row h-100" style="width: 100%;margin: auto;">

                                    <div class="row" style="height: 47%; width: 100%;margin: auto;">
                                        <!-- ==============  left  ============= -->
                                        <div class="col col-md-6 h-100">
                                            <p class="mt-3"> <span style="margin-right: 10px;">客戶姓名:</span><input size="15" type="text" id="myMemberName" readonly></p>
                                            <p class="mt-2"> <span style="margin-right: 10px;">商品名稱:</span><input size="15" type="text" id="myProductName" readonly></p>
                                            <p class="mt-2"> <span style="margin-right: 10px;">留言時間:</span><input size="20" type="text" id="myReviewTime" readonly></p>
                                            <input type="hidden" name="reviewIdForDelete" id="myReviewId" value="0" />
                                        </div>

                                        <!-- ==============  right  ============= -->
                                        <div class="col col-md-6 h-100">
                                            <p class="mt-3" style="padding-bottom : 15px;"> <span style="margin-right: 10px;">客戶評分:</span></p>
                                            <div class="text-center">
                                                <p id="myReviewStars"></p>
                                            </div>
                                            <div>
                                                <p class="mt-4"><span  style="margin-right: 10px;color:red;">顯示狀態:</span><input size="5" type="text" id="myShade" readonly></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 38%; width: 100%;margin: auto;">
                                        <div style="width: 100%;height: 100%;">
                                            <p style="margin-bottom: 3px;margin-left:5px;"> <span>留言內容:</span></p>
                                            <textarea class="mt-2" name="" id="myReviewContent" cols="40" rows="4" style="font-size: 14px;margin-left: 5em;" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="text-end" style="height: 15%; width: 95%;margin: auto;">
                                        <button class="btn btn-danger btn-sm mt-2" id="btnDel" type="button" style="width: 15%; margin-left: 2em;">確認隱藏 </button>
                                        <button class="btn btn-warning btn-sm mt-2" id="btnRelieve" type="button" style="width:15%;margin-left:2em;">解除隱藏 </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- ==============  多筆 Start  ============= -->
                    <div class="mt-4" style="width: 100%;height: 25em;">
                        <div style="background-color: white;height: 100%; margin-top: 0;border-radius:0 0 15px 15px ;">
                            <p style="background-color: rgb(51, 51, 51); color: white;line-height: 40px;padding-left: 15px;margin-bottom: 0%;">多筆修改</p>
                            <div style="height: 88%;">
                                <div style="height: 90%; overflow:hidden ;">
                                    <div style="overflow:auto ;height: 100%;">
                                        <table class="table" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th nowrap="nowrap" scope="col">留言編號</th>
                                                    <th nowrap="nowrap" scope="col">客戶姓名</th>
                                                    <th nowrap="nowrap" scope="col">留言時間</th>
                                                    <th nowrap="nowrap" scope="col">留言內容</th>
                                                </tr>
                                            </thead>
                                            <tbody>
        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-end" style="width: 100%;height:12%;background-color: rgb(176, 176, 176);border-radius:0 0 15px 15px ;">
                                    <button class="btn btn-danger btn-sm mt-1" type="button" style="width: 20%;margin-right: 3em;" id="btnmultipleDel">確認隱藏 </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- ==============  多筆 End  ============= -->
                </div>
            </div>
            <!-- ==============right End==================== -->

        </div>



    </div>

</div>




@section Scripts{

    <script>


        let myProductName = $("#myProductName");
        let myReviewStars = $("#myReviewStars");
        let myMemberName = $("#myMemberName");
        let myReviewContent = $("#myReviewContent");
        let myReviewTime = $("#myReviewTime");
        let myReviewId = $("#myReviewId");
        let myShade = $("#myShade");
        const mySearch = $("#mySearch");

        //搜尋

        mySearch.on("blur", function () {
            var myKeyword = (this).value;
            $(".myTrTohide").hide();

            if ($(`td:contains(${myKeyword})`).length == 0) {
            }
            else
                $(`td:contains(${myKeyword})`).parents(".myTrTohide").show();
        })

        //=================== ajax解除隱藏 start===============

        $("#btnRelieve").click(() => {

            let singleR = myReviewId.val();
            $.ajax({
                    url: "@Url.Content("~/Admin/AdminProduct/SingleReviewRelieve") ",
                    type: 'POST',
                    data: { singleR: singleR },
                    success: function (message) {
                        if (message === "成功") {
                            let timerInterval
                            Swal.fire({
                                icon: 'success',
                                title: '成功',
                                html: '已將此評論顯示',
                                timer: 500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading()
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                            }).then((result) => {
                                myShade.val("正常顯示");
                            })
                        }

                        else
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: '請稍後再試!',
                            })
                    }
            })

        });


        // ====================CHECKBOX 多選 Start=============================
        $(".myCheckbox").on("change", function () {
            console.log($(this).val())

            setTimeout(() => {
                if (this.checked) {
                    if ($(`.multipleP:contains(${$(this).val()})`).length == 0) {
                        $("#myTable").append(`<tr valign="middle" style="margin:auto" class="cleartr"><td valign="middle" class="multipleP" >${$(this).val()}</td><td valign="middle">${myMemberName.val()}</td><td valign="middle">${myReviewTime.val()}</td> <td valign="middle">${myReviewContent.text()}</td></tr>`)
                    }
                }
                else
                    $(`.multipleP:contains(${$(this).val()})`).parents("tr").eq(0).remove()
            }, 200);
        })
        //======================多選下架 start=============================
        $("#btnmultipleDel").on("click", function () {

            var multipleD = new Array;

            $(':checkbox[name="checkedB"]:checked').each(function (index) {
                console.log($(this).val());
                multipleD.push( $(this).val());
            });
            $.ajax({
                url: "@Url.Content("~/Admin/AdminProduct/MultipleShade") ",
                type: 'POST',
                data: { multipleD: multipleD },

                   success: function (message) {
                       $(":checkbox").prop("checked", false)
                       $(".cleartr").empty();
                       myShade.val("隱藏中");

                       if (message === "成功") {
                           let timerInterval
                           Swal.fire({
                               icon: 'success',
                               title: '隱藏成功',
                               html: '評論已全數隱藏!',
                               timer: 500,
                               timerProgressBar: true,
                               didOpen: () => {
                                   Swal.showLoading()
                                   const b = Swal.getHtmlContainer().querySelector('b')
                                   timerInterval = setInterval(() => {
                                       b.textContent = Swal.getTimerLeft()
                                   }, 100)
                               },
                               willClose: () => {
                                   clearInterval(timerInterval)
                               }
                           }).then((result) => {

                           })
                       }
                       else
                           Swal.fire({
                               icon: 'error',
                               title: 'Oops...',
                               text: '請先選擇評論...',
                           })

                }
            })

        })







        //  =========== 單擊 Ajax start ===========
        function Selected(event) {
            let targetId = $(event.target).parents("tr").children("td").children("input").val();

            GetSelected(targetId);
        }


        async function GetSelected(targetId) {
            const reponse = await fetch('@Url.Content("~/Admin/AdminProduct/SelectedReview")' + `?id=${targetId}`);
            const datas = await reponse.json();
            myReviewStars.text("");
            myProductName.val(datas.productName);
            myMemberName.val(datas.memberName);
            myReviewContent.text(datas.commentContent);

            let starCount = parseInt(datas.ratingtypeNum);
            let starString = "";
            for (let i = 0; i <= starCount-1; i++) {
                starString+="<i class='fa-solid fa-star'>";

            }
            myReviewStars.append(starString);
            myReviewTime.val(datas.datetimeStr);
            myReviewId.val(datas.revId);

            let mybool = datas.shade;
            if (mybool === true)
                myShade.val("隱藏中");
            else
                myShade.val("正常顯示");

        }

        // ajax-單筆隱藏 Start

        $('#btnDel').click(() => {

            let singleR = myReviewId.val();
                Swal.fire({
                    title: '確定要隱藏此評論嗎?',
                    text: "這項評論將被隱藏",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '確定隱藏!',
                    cancelButtonText: '取消',
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            url: "@Url.Content("~/Admin/AdminProduct/SingleReviewDelete") ",
                            type: 'POST',
                            data: { singleR: singleR },
                            success: function (message) {

                                if (message === "成功") {
                                    $(":checkbox").prop("checked", false)
                                    $(".cleartr").empty();

                                    myShade.val("隱藏中");

                                    Swal.fire(
                                        '成功!',
                                        '您已將此評論隱藏',
                                        'success'
                                    )
                                }
                            }
                        })
                    }
                })

        });

       //============= ajax-單筆刪除 End=================


    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
